Knapsack Problem.docx

eval_data/model_1_eval_data_sc_5.pkl
eval_data/model_1_eval_data_sc_10.pkl
eval_data/model_1_eval_data_sc_20.pkl
eval_data/model_1_eval_data_sc_50.pkl
eval_data/model_1_eval_data_sc_100.pkl
eval_data/model_1_eval_data_sc_200.pkl
eval_data/model_1_eval_data_ss_5.pkl
eval_data/model_1_eval_data_ss_10.pkl
eval_data/model_1_eval_data_ss_20.pkl
eval_data/model_1_eval_data_ss_50.pkl
eval_data/model_1_eval_data_ss_100.pkl
eval_data/model_1_eval_data_ss_200.pkl
eval_data/model_1_eval_data_uc_5.pkl
eval_data/model_1_eval_data_uc_10.pkl
eval_data/model_1_eval_data_uc_20.pkl
eval_data/model_1_eval_data_uc_50.pkl
eval_data/model_1_eval_data_uc_100.pkl
eval_data/model_1_eval_data_uc_200.pkl
eval_data/model_1_eval_solutions_sc_5.pkl
eval_data/model_1_eval_solutions_sc_10.pkl
eval_data/model_1_eval_solutions_sc_20.pkl
eval_data/model_1_eval_solutions_sc_50.pkl
eval_data/model_1_eval_solutions_sc_100.pkl
eval_data/model_1_eval_solutions_sc_200.pkl
eval_data/model_1_eval_solutions_ss_5.pkl
eval_data/model_1_eval_solutions_ss_10.pkl
eval_data/model_1_eval_solutions_ss_20.pkl
eval_data/model_1_eval_solutions_ss_50.pkl
eval_data/model_1_eval_solutions_ss_100.pkl
eval_data/model_1_eval_solutions_ss_200.pkl
eval_data/model_1_eval_solutions_uc_5.pkl
eval_data/model_1_eval_solutions_uc_10.pkl
eval_data/model_1_eval_solutions_uc_20.pkl
eval_data/model_1_eval_solutions_uc_50.pkl
eval_data/model_1_eval_solutions_uc_100.pkl
eval_data/model_1_eval_solutions_uc_200.pkl
presentation_data/model_1_training_data_uc_5.pkl
presentation_data/model_1_training_data_uc_10.pkl
presentation_data/model_1_training_data_uc_20.pkl
presentation_data/model_1_training_data_uc_50.pkl
presentation_data/model_1_training_data_uc_100.pkl
presentation_data/model_1_training_data_uc_200.pkl
train_data/model_1_training_data_sc_5.pkl
train_data/model_1_training_data_sc_10.pkl
train_data/model_1_training_data_sc_20.pkl
train_data/model_1_training_data_sc_50.pkl
train_data/model_1_training_data_sc_100.pkl
train_data/model_1_training_data_sc_200.pkl
train_data/model_1_training_data_ss_5.pkl
train_data/model_1_training_data_ss_10.pkl
train_data/model_1_training_data_ss_20.pkl
train_data/model_1_training_data_ss_50.pkl
train_data/model_1_training_data_ss_100.pkl
train_data/model_1_training_data_ss_200.pkl
train_data/model_1_training_data_uc_5.pkl
train_data/model_1_training_data_uc_10.pkl
train_data/model_1_training_data_uc_20.pkl
train_data/model_1_training_data_uc_50.pkl
train_data/model_1_training_data_uc_100.pkl
train_data/model_1_training_data_uc_200.pkl
Knapsack Problem.docx
