Knapsack Problem.docx

eval_data/model_1_eval_data_sc_5.pkl
eval_data/model_1_eval_data_sc_10.pkl
eval_data/model_1_eval_data_sc_20.pkl
eval_data/model_1_eval_data_sc_50.pkl
eval_data/model_1_eval_data_sc_100.pkl
eval_data/model_1_eval_data_sc_200.pkl
eval_data/model_1_eval_data_ss_5.pkl
eval_data/model_1_eval_data_ss_10.pkl
eval_data/model_1_eval_data_ss_20.pkl
eval_data/model_1_eval_data_ss_50.pkl
eval_data/model_1_eval_data_ss_100.pkl
eval_data/model_1_eval_data_ss_200.pkl
eval_data/model_1_eval_data_uc_5.pkl
eval_data/model_1_eval_data_uc_10.pkl
eval_data/model_1_eval_data_uc_20.pkl
eval_data/model_1_eval_data_uc_50.pkl
eval_data/model_1_eval_data_uc_100.pkl
eval_data/model_1_eval_data_uc_200.pkl
eval_data/model_1_eval_solutions_sc_5.pkl
eval_data/model_1_eval_solutions_sc_10.pkl
eval_data/model_1_eval_solutions_sc_20.pkl
eval_data/model_1_eval_solutions_sc_50.pkl
eval_data/model_1_eval_solutions_sc_100.pkl
eval_data/model_1_eval_solutions_sc_200.pkl
eval_data/model_1_eval_solutions_ss_5.pkl
eval_data/model_1_eval_solutions_ss_10.pkl
eval_data/model_1_eval_solutions_ss_20.pkl
eval_data/model_1_eval_solutions_ss_50.pkl
eval_data/model_1_eval_solutions_ss_100.pkl
eval_data/model_1_eval_solutions_ss_200.pkl
eval_data/model_1_eval_solutions_uc_5.pkl
eval_data/model_1_eval_solutions_uc_10.pkl
eval_data/model_1_eval_solutions_uc_20.pkl
eval_data/model_1_eval_solutions_uc_50.pkl
eval_data/model_1_eval_solutions_uc_100.pkl
eval_data/model_1_eval_solutions_uc_200.pkl
presentation_data/model_1_training_data_uc_5.pkl
presentation_data/model_1_training_data_uc_10.pkl
presentation_data/model_1_training_data_uc_20.pkl
presentation_data/model_1_training_data_uc_50.pkl
presentation_data/model_1_training_data_uc_100.pkl
presentation_data/model_1_training_data_uc_200.pkl
train_data/model_1_training_data_sc_5.pkl
train_data/model_1_training_data_sc_10.pkl
train_data/model_1_training_data_sc_20.pkl
train_data/model_1_training_data_sc_50.pkl
train_data/model_1_training_data_sc_100.pkl
train_data/model_1_training_data_sc_200.pkl
train_data/model_1_training_data_ss_5.pkl
train_data/model_1_training_data_ss_10.pkl
train_data/model_1_training_data_ss_20.pkl
train_data/model_1_training_data_ss_50.pkl
train_data/model_1_training_data_ss_100.pkl
train_data/model_1_training_data_ss_200.pkl
train_data/model_1_training_data_uc_5.pkl
train_data/model_1_training_data_uc_10.pkl
train_data/model_1_training_data_uc_20.pkl
train_data/model_1_training_data_uc_50.pkl
train_data/model_1_training_data_uc_100.pkl
train_data/model_1_training_data_uc_200.pkl
Knapsack Problem.docx
presentation_data/training_data_uc_100.pkl
Trained_Models/trained_model_1_UC_5.pth
Trained_Models/trained_model_1_UC_20.pth
Trained_Models/trained_model_1_UC_200.pth
Trained_Models/trained_model_1_UC_10.pth
Knapsack Problem.docx
Trained_Models/trained_model_1_UC_100.pth
Trained_Models/trained_model_1_UC_50.pth
Trained_Models/trained_model_2_UC_5.pth
Trained_Models/trained_model_2_UC_10.pth
Trained_Models/trained_model_2_UC_20.pth
Trained_Models/trained_model_2_UC_50.pth
Evaluations/model 1 - 5.png
Evaluations/model 1 - 10.png
Evaluations/model 1 - 20.png
Evaluations/model 1 - 50.png
Evaluations/model 1 - 100.png
Evaluations/model 1 - 200.png
Evaluations/model 2 - 5.png
Evaluations/model 2 - 10.png
Evaluations/model 2 - 20.png
Evaluations/model 2 - 50.png
Evaluations/model 2 - 100.png
Evaluations/model 2 - 200.png
Evaluations/model 3 - 5.png
Evaluations/model 3 - 10.png
Evaluations/model 3 - 20.png
Evaluations/model 3 - 50.png
Evaluations/model 3 - 100.png
Evaluations/model 3 - 200.png
Evaluations/used ones/model 1 - 5.png
Evaluations/used ones/model 1 - 10.png
Evaluations/used ones/model 1 - 20.png
Evaluations/used ones/model 1 - 50.png
Evaluations/used ones/model 1 - 100.png
Evaluations/used ones/model 1 - 200.png
Evaluations/used ones/model 2 - 5.png
Evaluations/used ones/model 2 - 10.png
Evaluations/used ones/model 2 - 20.png
Evaluations/used ones/model 2 - 50.png
Evaluations/used ones/model 2 - 100.png
Evaluations/used ones/model 2 - 200.png
Evaluations/used ones/model 3 - 5.png
Evaluations/used ones/model 3 - 10.png
Evaluations/used ones/model 3 - 20.png
Evaluations/used ones/model 3 - 50.png
Evaluations/used ones/model 3 - 100.png
Evaluations/used ones/model 3 - 200.png
presentation_data/training_data_uc_5.pkl
Trained_Models/trained_model_2_UC_100.pth
Trained_Models/trained_model_2_UC_200.pth
